body{
    height:100vh;
    width: 100vw;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(253, 251, 247);
}
header {
    height:20vh;
    background-color: rgb(25, 161, 166);
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
    
}
.myLogo {
    height: 15vh;
}

.mylink {
    height:20vh;
    width:65vw;
   
   
}
.myul {
     gap:3%;
}
ul > li > a >button {
width:10vw;
background-color: transparent;
border: none;
color:white;
font-weight: 600;
}

.myspan {
    display:none;
    position: relative;
}

#dropdownContent {
    display:none;
    position: absolute;
    top:90%;
    left:60%;
    

}
#dropdownContent a {
    color: white;
    background-color: rgb(49, 47, 47);
    width:40vw;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border:0.5px solid white;
    border-radius: 10%;
  }

.booknow {
    width:10vw;
    height:37%;
    padding-bottom: 10%;
    font-weight: 700;
}

.firstSec {
    margin-top:9%;
    background-color: wheat;
    position:relative;
    
}

.Secdiv {
   background-color: white;
   display:block;
   height:15vh;
   width:80%;
   min-width: 700px;
   border:0.5px solid rgb(223, 239, 240);
   border-radius: 20px;
   position:absolute;
   top:90%;
   
 

}
.medal{
    height:13vh;
}

.commonClass {
    
    height:12vh;
    width:15vw;
    border-right: 1px solid rgb(175, 169, 169);

}

.commonSpan { 
    font-size:x-large;
    font-weight: 600;
}
.commonSpan1 {
    display: inline-block;
    margin-left: 2px;
    font-size: small;
    color: rgb(93, 91, 91);
}
.rides {
    height:10vh;
    margin-left: 2%;
}
.ecofriendly{
    height:11vh;
    margin-left: 2%;
}
#blankP {
    position: absolute;
    top:10%;
    right:95%;
    display: inline-block;
    background-color: white;
    width:135%;
    height:30%;
    border:1px solid rgb(105, 12, 12);
    color:red;
    font-size:larger;
    padding-left: 5%;
    padding-top:4%;
    display: none;
}

#tick {
    color:green;
    position: absolute;
    top:30%;
    right:18%;
    display: none;
}

#fault {
    color:red;
    position: absolute;
    top:31%;
    right:18%;
    display: none;
}


.enquire {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:5%;
    left:60%;
    height:80%;
    width:30%;
    background-color: rgba(30, 138, 131,0.5);
    border:0.4px solid rgb(169, 98, 7);
    border-radius: 25px;
    /* display: none; */
}


.enquire > p {
    margin-top: 12px;
    height:15%;
    width:45%;
    color:white;
    font-size: larger;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(169, 98, 7);
}
.enquire > input  {
    color:grey;
    width:70%;
    height:12%;
    border:0.4px solid rgb(169, 98, 7)
}

.enquireButn {
    width:50%;
    height:10%;
    color:white;
    font-size: large;
    font-weight: 500;
    background-color: rgb(169, 98, 7)
}

.my2Sec {
    height:30vh;
    text-align: center;
    border:0.5px solid skyblue;
    border-radius: 20px;
    background-color: wheat;
}

h3 {
   text-align: center;
   color:white;
   background-color: rgb(38, 136, 156);
}
#my2SecPara {
    color:rgb(84, 82, 82);
    font-size: large;
    font-weight: 530;
    font-family: 'Times New Roman', Times, serif;
}

.mycol {
    border-right: 1px solid grey;
}

.mygrid {

   width:30vw;
}
 .myh4 {
    color:darkgreen;
    font-weight: 900;
 }
 .imagep {
    background-color: rgb(95, 158, 160);
    color:white;
    height:20vw;
    font-style: oblique;
    font-size: medium;
    font-weight: 500;}

.pecularity {
    margin:2vw;
    height:100vh;
    border-radius: 40px;
}

.pech4 {
    text-align: center;
    padding:2.5%;
    background-color: wheat;
    border: 0px solid gray;
    border-radius: 35px;
    color: rgb(25, 74, 93);
    
    
    font-size: 33px;
}
.pecdiv {
    background-color: rgba(229, 235, 240,0.7);
    gap:4rem;
}
.pecimage {
    border:2px solid rgba(223, 229, 233, 0.7);
    border-radius: 50%;
}

.packageh4 {
    color: wheat;
    background-color: chocolate;
    height:5vh;
}
.packageDiv {
    background-color: rgb(187, 241, 243);
}

.packageP {
    color:rgb(103, 99, 96);
    font-weight: 600;
}

.packageButn {
    width:20vw;
    margin-top: 5vh;
    font-weight: 500;
}

.rateH4  {
    font-size:40px;
    color:green;
}
#myh4span {
    color:chocolate;
}
.priceDiv {
    font-size: 45px;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 20px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
#adult {
    background: linear-gradient(to right, #ebdc09, #088aae);
}

#child {
    background: linear-gradient(to right, #f33206, #06a919);
}

#citizen {
    background: linear-gradient(to right, #970ed6, #06a919);
}

.insidePriceDiv{
    font-size: 35px;
    font-weight: 900;
    color: #104f12;
}

#contacth3 {
    height:10vh;
    background-color: rgba(8, 138, 174,0.7);
}

.contactSec {
    background-image: url(./images/amusement_park.JPG);
    background-size: cover;
}
.contactForm {
    position: relative;
   
    width:685px;
    height: 750px;
    background-color: rgba(238, 181, 140,0.7);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.contactDiv {
  
    position: absolute;
    top:0%;
    height:50vh;
   
}
.contactBg {
    width: 50vw;
    opacity: 0.5;
}
h5{
    position: absolute;
    top:35%;
    height:5vh;
    width: 100%;
    text-align: center;
    color:#095185;
    font-weight: 600;
    
}

label {
    color:#095185;
    
    
}
.inputDiv {
    width:100%;
    text-align: center;
    position: absolute;
    top:40%;
    font-weight: 600;
  
   
}

.contactInput{
    width:90%;
    border:0.5px solid skyblue;
    outline: none;
}
#msg {
    position: absolute;
    top:95%;
}
textarea {
    position: absolute;
    top:110%;
    outline: none;
    border:0.5px solid skyblue;
    resize: both; /* horizontal and vertical resizing */
    min-height: 50px; /* minimum height to prevent it from becoming too small */
    min-width: 200px; /* minimum width to prevent it from becoming too narrow */
}
#submit {
    position: absolute;
    top:185%;
    width: 20vw;
    background-color: rgb(240, 166, 68);
    border:0.5px solid rgb(105, 99, 55);
    color:#095185;
    font-weight: 600;
}



.bottom_img {
    width:3vw;
}



.socialLogo{
   
    width:200px;
   
   
}

.firstSpan {
   width:350px;
}
.scndSpan {
    width:400px;
}

.copy {
    color:#095185;
}
 @media only screen and (min-width:1000px) { 
    .enquire{
        display:flex;
        animation:fadeIn 3s both;
       
    }
    @keyframes fadeIn {
        0% {opacity:0; }
      
        100% {opacity:1; animation: none;}
    } 
}
@media only screen and (max-width:1350px) {
    .firstSec {
        width:1350px;
    }

    .sec2Div {
      
       width:1350px;
    }

    #myrides {
        width:1350px;
    }
    .pecularity {
        
        width:1350px;
        height: 1000px;
      
    
    }
    #mypackages{
       
        width: 1350px;
    }
    #rates{
        width:1350px;
    }

    .contactSec{
        width:1350px;
    }

    .lastSec {
        width:1350px;
    }
    
}

@media only screen and (min-width:992px )and (max-width:1000px) {
    .gridMainDiv {
     margin-left: 15%;
    }

    .myh4 {
        font-weight: 400;
      
    }
}

@media only screen and (max-width:991px) {
    #myrides{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mycol {
        border: none;
    }
}
@media only screen and (max-width:1150px) {
   
    .mylink {
        display: none;
    }
    

    .myul {
        display: none;
    }
    .myul > li {
        display:none;
    }

    .myul >li >a {
        display: none;
    }
    .lastdiv {
        display: flex;
        justify-content: space-between;
        height:20vh;
        width:100vw;
        gap:10vw;
    }
  
    .booknow{
        width:14vw;
        padding:0;
    }

    
    .myspan {
        display:inline-flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(48, 46, 46);
        color:white;
        font-weight: 800;
        height: 35%;
        width:30%;
    }
    .firstSec {
        margin-top:15%;
       
        
    }

    


    
}@media only screen and (max-width:1000px) {

    .gridMainDiv{
        width:900px;
        
    }
    .enquire {
        display: none;
    }
    
    .mygrid {

        width:500px;
    }
    .imagep {
        height: 200px;
    }
    .myh4{
        font-size: 50px;
    }
}

@media only screen and (max-width:992px) {
    .my2Sec {
        width:120vw;
    }
}


@media only screen and (max-width:750px) {
   

    .booknow{
        width:20vw;
        
    }

    .Secdiv{
        left:10%;
        height:17vh;
        min-width: 600px;
    }

     
          
     

 

}

@media only screen and (max-width:680px) {
    .my2Sec {
        width:140vw;
        height:35vh;
    }
}

@media only screen and (max-width:530px) {
    .my2Sec {
        width:160vw;
        height:37vh;
    }
}

 



@media only screen and (max-width: 570px) {
   

    .booknow{
        width:30vw;
        
    }

    
}

@media only screen and (max-width:430px) {
    .my2Sec {
        width:180vw;
        height:40vh;
    }
}

@media only screen and (max-width:430px) {
    .my2Sec {
        width:200vw;
        height:47vh;
    }
}

